@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Cormorant+Garamond:wght@500;700&family=Dancing+Script:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@500;600&family=Gorditas:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Whisper&display=swap');


.mainList h1 {
    font-size: 120px;
    position: absolute;
    top: 150px;
    left: 250px;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Whisper', cursive;
}

.list{
    top: 220px;
    left: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list a{
    color: #fff;
    text-decoration: none;
    size: 20px;
    transition: .3s;
}

.list a:hover{
    color: rgb(155, 155, 223);
}