.jobsPage{
    padding: 100px 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    font-size: 12px;
    color: #000;
    line-height: 1.5;
}

.jobsPageContentHolder{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.jobsPageContent{
  width: 1000px;
  display: flex;
  font-size: 12px;
  color: #000;
  line-height: 1.5;
}

.jobsPageContentItam{
  width: 640px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}